<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Employee</title>
</head>
<body>

<h2>Add Employee</h2>

<form action="/save" method="post" th:object="${employee}">
    Name: <input type="text" th:field="*{name}" required><br><br>
    Email: <input type="email" th:field="*{email}" required><br><br>
    Department: <input type="text" th:field="*{department}" required><br><br>
    Salary: <input type="number" th:field="*{salary}" required><br><br>

    <button type="submit">Save</button>
</form>

<br>
<a href="/">Back</a>

</body>
</html>
